@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lista de contatos</h1>
    <br />
    <br />
    <p>Projeto feito por <a href="https://www.linkedin.com/in/anacarolina-braga/" target=”_blank”>Ana Carolina Braga</a></p>
    <p>Outros projetos podem ser vistos <a href="https://github.com/AnaCarolinaBraga" target=”_blank”>aqui</a></p>
</div>
